*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(image/Science-Quiz.png) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: -2%;
    left: 10%;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Josefin Sans', sans-serif;

}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s ;


}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;

}

.banner-btn a:hover  span{
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
     text-decoration: none;
     color: #fff;

}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px ;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 50px;
    margin-top: 10px;
}

@media screen and ( max-width: 770px  ){
    .banner-text h1{
        font-size: 44px;
     }
     .banner-btn a{
        display: block;
        margin: 20px auto;
     }
}

/*--Feature--*/

#feature{
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: ' ';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff) ;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1{
    font-size: 50px;

}

.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;

}

.features-img{
    flex-basis: 50%;
    margin: auto;
    
}

.features-img img{
    width: 120%;

    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon .fa{
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;

}

.features-text p{
    padding: 0 20px;
    text-align: initial;

}

@media screen and ( max-width: 770px  ){
    .title-text h1{
        font-size: 35px;
    
    }
    .features{
        flex-basis: 100%;
    
    }
    .features-img{
        flex-basis: 1000%;
     }
     .features-img img{
        width: 100%;
    
        border-radius: 10px;
    }
    

}

/*--service--*/

#service{
    width:100% ;
    padding: 70px 0 ;
    background: #e7e3e3;
}

.servive-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
   flex-basis: 48%;
   text-align: center;
   border-radius: 7px;
   margin-bottom: 20px;
   color: #fff;
   position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;

}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.service-desc a{
    text-decoration: none;
    color: #fff;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p{
    font-size: 14px;
}

.single-service:hover .service-desc{
       bottom: 40%;
       opacity: 1;
}

@media screen and ( max-width: 770px  ){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
        
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
        
    }
    
}


/*--footer--*/

#footer{
    width:100% ;
    padding: 70px 0 ;
    background:  #fff;
}



.team h1{
	font-family: 'Courier New', Courier, monospace;
     
}
.team-content{
	width: 70%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #009688;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: black;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

/*--about us--*/

#about{
    width:100% ;
    padding: 70px 0 ;
    background:  #efefef;
}

.about{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #about .main img{
    width: 680px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
  }
  
  .all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 30px;
  }
  
  .main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .all-text h4{
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .all-text h1{
    font-size: 75px;
    
    padding: flex;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
  
  }
  
  .all-text  p{
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
  }
  
  .btn button{
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 22px 48px  0 rgb(0 0 0 / 12%);
    margin-right: 20px;
  }
  
  .btn button:hover{
    background-color: #009688;
    color: #fff;
    transition: .3s;
    cursor: pointer;
  
  
  
  }
  
  .btn .btn2{
    background: #111111;
    color: white;
  }
  
  @media screen and (max-width: 1250px) {
          .about{
            width: 100%;
            height: auto;
            padding: 60px;
          }
  
          .all-text{
            text-align: center;
            margin-top: 40px;
          }
  
    
  }
  
  @media screen and (max-width: 650px){
    #about .main img{
      margin-bottom: 35px;
      width: 100%;
    }
    .all-text h1{
      font-size: 45px;
      margin-bottom: 20px;
    }
  }
